<?xml version="1.0" encoding="utf-8"?>
<nyuzi>
<cat>events</cat>
<item>
<title>Msaada</title>
<pubdate>Tue, 18 Apr 2017 14:25:51 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/msaada.1237697/</link>
<guid>https://www.jamiiforums.com/threads/msaada.1237697/</guid>
<author>invalid@example.com (Yusuph Wernery)</author>
<dc:creator>Yusuph Wernery</dc:creator>
</item><item>
<title>Mzozo wa Marekani na Korea ya Kasikazini</title>
<pubdate>Tue, 18 Apr 2017 09:33:40 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/mzozo-wa-marekani-na-korea-ya-kasikazini.1237528/</link>
<guid>https://www.jamiiforums.com/threads/mzozo-wa-marekani-na-korea-ya-kasikazini.1237528/</guid>
<author>invalid@example.com (Junior Ayo)</author>
<dc:creator>Junior Ayo</dc:creator>
<slash:comments>1</slash:comments>
</item><item>
<title>Techinical explanation on Concentrate Ban from ACACIA Chief Operating Officer</title>
<pubdate>Mon, 17 Apr 2017 17:08:38 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/techinical-explanation-on-concentrate-ban-from-acacia-chief-operating-officer.1225971/</link>
<guid>https://www.jamiiforums.com/threads/techinical-explanation-on-concentrate-ban-from-acacia-chief-operating-officer.1225971/</guid>
<author>invalid@example.com (king Davidson)</author>
<dc:creator>king Davidson</dc:creator>
<slash:comments>26</slash:comments>
</item><item>
<title>A maid who fell in Kuwait was NOT from Tanzania</title>
<pubdate>Mon, 17 Apr 2017 16:44:00 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/a-maid-who-fell-in-kuwait-was-not-from-tanzania.1231280/</link>
<guid>https://www.jamiiforums.com/threads/a-maid-who-fell-in-kuwait-was-not-from-tanzania.1231280/</guid>
<author>invalid@example.com (iArmaniAdamson)</author>
<dc:creator>iArmaniAdamson</dc:creator>
<slash:comments>1</slash:comments>
</item><item>
<title>Kisia kama ungetaka kutoa msaada wa chakula mjini same ungetoa tani ngapi?</title>
<pubdate>Mon, 17 Apr 2017 15:07:42 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/kisia-kama-ungetaka-kutoa-msaada-wa-chakula-mjini-same-ungetoa-tani-ngapi.1237225/</link>
<guid>https://www.jamiiforums.com/threads/kisia-kama-ungetaka-kutoa-msaada-wa-chakula-mjini-same-ungetoa-tani-ngapi.1237225/</guid>
<author>invalid@example.com (kakaye)</author>
<dc:creator>kakaye</dc:creator>
</item><item>
<title>msaada kuhusu revenue brust</title>
<pubdate>Mon, 17 Apr 2017 10:34:39 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/msaada-kuhusu-revenue-brust.1237095/</link>
<guid>https://www.jamiiforums.com/threads/msaada-kuhusu-revenue-brust.1237095/</guid>
<author>invalid@example.com (trey007)</author>
<dc:creator>trey007</dc:creator>
</item><item>
<title>Tanzanian broadcaster suspends staff for publishing fake news about Donald Trump</title>
<pubdate>Sun, 16 Apr 2017 21:24:33 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/tanzanian-broadcaster-suspends-staff-for-publishing-fake-news-about-donald-trump.1217431/</link>
<guid>https://www.jamiiforums.com/threads/tanzanian-broadcaster-suspends-staff-for-publishing-fake-news-about-donald-trump.1217431/</guid>
<author>invalid@example.com (rr3)</author>
<dc:creator>rr3</dc:creator>
<slash:comments>9</slash:comments>
</item><item>
<title>Guruhari Darshan 29-31 Mar 2017, Dar-es-Salaam, Tanzania</title>
<pubdate>Thu, 13 Apr 2017 02:53:37 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/guruhari-darshan-29-31-mar-2017-dar-es-salaam-tanzania.1234345/</link>
<guid>https://www.jamiiforums.com/threads/guruhari-darshan-29-31-mar-2017-dar-es-salaam-tanzania.1234345/</guid>
<author>invalid@example.com (bagamoyo)</author>
<dc:creator>bagamoyo</dc:creator>
<slash:comments>2</slash:comments>
</item><item>
<title>South African Broadcasting Cooperation: Tanzania’s Magufuli descends from darling to dictator</title>
<pubdate>Mon, 10 Apr 2017 14:18:20 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/south-african-broadcasting-cooperation-tanzanias-magufuli-descends-from-darling-to-dictator.1233073/</link>
<guid>https://www.jamiiforums.com/threads/south-african-broadcasting-cooperation-tanzanias-magufuli-descends-from-darling-to-dictator.1233073/</guid>
<author>invalid@example.com (Good People)</author>
<dc:creator>Good People</dc:creator>
<slash:comments>8</slash:comments>
</item><item>
<title>ripoti ya kutekwa kwa ROMA</title>
<pubdate>Sun, 09 Apr 2017 15:39:06 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/ripoti-ya-kutekwa-kwa-roma.1232806/</link>
<guid>https://www.jamiiforums.com/threads/ripoti-ya-kutekwa-kwa-roma.1232806/</guid>
<author>invalid@example.com (JACKSON WILLIAM)</author>
<dc:creator>JACKSON WILLIAM</dc:creator>
<slash:comments>1</slash:comments>
</item><item>
<title>Share and save someone out there</title>
<pubdate>Sun, 02 Apr 2017 20:13:43 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/share-and-save-someone-out-there.1229081/</link>
<guid>https://www.jamiiforums.com/threads/share-and-save-someone-out-there.1229081/</guid>
<author>invalid@example.com (Radics)</author>
<dc:creator>Radics</dc:creator>
<slash:comments>2</slash:comments>
</item><item>
<title>Is Tanzania's gold mining sector now controlled by a “Mafia” from Canada &amp; United Kingdom?</title>
<pubdate>Tue, 28 Mar 2017 17:11:45 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/is-tanzanias-gold-mining-sector-now-controlled-by-a-mafia-from-canada-united-kingdom.1224515/</link>
<guid>https://www.jamiiforums.com/threads/is-tanzanias-gold-mining-sector-now-controlled-by-a-mafia-from-canada-united-kingdom.1224515/</guid>
<author>invalid@example.com (Samantha Cole)</author>
<dc:creator>Samantha Cole</dc:creator>
<slash:comments>6</slash:comments>
</item><item>
<title>Blood donation event on 18th of February in Dar es Salaam</title>
<pubdate>Sat, 25 Mar 2017 19:27:54 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/blood-donation-event-on-18th-of-february-in-dar-es-salaam.1198774/</link>
<guid>https://www.jamiiforums.com/threads/blood-donation-event-on-18th-of-february-in-dar-es-salaam.1198774/</guid>
<author>invalid@example.com (Kalaydo)</author>
<dc:creator>Kalaydo</dc:creator>
<slash:comments>1</slash:comments>
</item><item>
<title>So much trouble in this country</title>
<pubdate>Thu, 23 Mar 2017 12:17:43 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/so-much-trouble-in-this-country.1222726/</link>
<guid>https://www.jamiiforums.com/threads/so-much-trouble-in-this-country.1222726/</guid>
<author>invalid@example.com (raisi2020)</author>
<dc:creator>raisi2020</dc:creator>
<slash:comments>1</slash:comments>
</item><item>
<title>World Water Day: Rural Areas still suffer from clean water scarcity</title>
<pubdate>Wed, 22 Mar 2017 13:24:13 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/world-water-day-rural-areas-still-suffer-from-clean-water-scarcity.1222012/</link>
<guid>https://www.jamiiforums.com/threads/world-water-day-rural-areas-still-suffer-from-clean-water-scarcity.1222012/</guid>
<author>invalid@example.com (Sauti za Wananchi)</author>
<dc:creator>Sauti za Wananchi</dc:creator>
</item><item>
<title>Kuwait grants TZ 109bn/- for central corridor road project</title>
<pubdate>Wed, 22 Mar 2017 09:35:54 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/kuwait-grants-tz-109bn-for-central-corridor-road-project.1221703/</link>
<guid>https://www.jamiiforums.com/threads/kuwait-grants-tz-109bn-for-central-corridor-road-project.1221703/</guid>
<author>invalid@example.com (Zurie)</author>
<dc:creator>Zurie</dc:creator>
<slash:comments>1</slash:comments>
</item><item>
<title>Happy International  Social Work Day</title>
<pubdate>Tue, 21 Mar 2017 13:18:39 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/happy-international-social-work-day.1221305/</link>
<guid>https://www.jamiiforums.com/threads/happy-international-social-work-day.1221305/</guid>
<author>invalid@example.com (Chuking Mansion)</author>
<dc:creator>Chuking Mansion</dc:creator>
</item><item>
<title>Tanzania: TANESCO asks World Bank for $200M to clear debts</title>
<pubdate>Wed, 15 Mar 2017 15:43:11 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/tanzania-tanesco-asks-world-bank-for-200m-to-clear-debts.1186637/</link>
<guid>https://www.jamiiforums.com/threads/tanzania-tanesco-asks-world-bank-for-200m-to-clear-debts.1186637/</guid>
<author>invalid@example.com (BAK)</author>
<dc:creator>BAK</dc:creator>
<slash:comments>19</slash:comments>
</item><item>
<title>DAR: Police seize 'most wanted' suspected drug trafficker, know as 'Kiboko'</title>
<pubdate>Wed, 15 Mar 2017 15:38:52 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/dar-police-seize-most-wanted-suspected-drug-trafficker-know-as-kiboko.1205503/</link>
<guid>https://www.jamiiforums.com/threads/dar-police-seize-most-wanted-suspected-drug-trafficker-know-as-kiboko.1205503/</guid>
<author>invalid@example.com (RUCCI)</author>
<dc:creator>RUCCI</dc:creator>
<slash:comments>8</slash:comments>
</item><item>
<title>Clean hand will stay safe and respected once suspected</title>
<pubdate>Sun, 12 Mar 2017 20:09:50 +0000</pubdate>
<link>https://www.jamiiforums.com/threads/clean-hand-will-stay-safe-and-respected-once-suspected.1201991/</link>
<guid>https://www.jamiiforums.com/threads/clean-hand-will-stay-safe-and-respected-once-suspected.1201991/</guid>
<author>invalid@example.com (kaitila)</author>
<dc:creator>kaitila</dc:creator>
<slash:comments>8</slash:comments>
</item>
</nyuzi>